<a href="https://colab.research.google.com/github/EKielz/OOP-58002/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Fundamentals of Python

Python Variable

In [ ]:
x = 'Sally'

a = 0
a,b,c = 0,1,2

print(x)
print(a)
print(b)
print(c)
print(a,b,c)

Sally
0
1
2
0 1 2

Casting

In [ ]:
d = 4
d = int(4)
print(d)

4

Type () function

In [ ]:
d = 4
d = int(4)
print(type(d))

<class 'int'>

Double quotes and single quotes

In [ ]:
y = "Ana"
print(y)

y = 'Ana'
print(y)

Ana
Ana

Multiple Variables

In [ ]:
#x = 'Tony'
k = l = m = 'four'
print(k)
print(l)
print(m)
print(k,l,m)

four
four
four
four four four

Output Variable

In [ ]:
print('Python programming is fun')

h = 'fun'
p = 'Python programming is '
print(p+ h)

Python programming is fun
Python programming is fun

Arithmetic Operations

In [ ]:
c, d = 2, 4

print(c+d)
print(c-d)
print(d*c)
print(int(d/c))
print(d%c)
print(3//2) #1.50
print(d**c)

6
-2
8
2
0
1
16

Assignment Operators

In [ ]:
q = 10
q+=5 #same as q = q + 5

print(q) #same as q = q + 5, q = 10 + 5 = 15

15

Boolean logic

In [ ]:
s = 10
print(s^2)
print(s|2)

8
10

Comparison Operators

In [ ]:
print(s>q)
print(s==s)
print(q==q)

False
True
True

Logical Operators

In [ ]:
s>q and s==s #False
s>q or s==s #True

print(s>q and s==s)
print(s>q or s==s)

False
True

Identity Operators

In [ ]:
s is q
print(s is not q)

True

Bitwise Operators Shift right

In [ ]:
u = 2 #0001
print(u<<1)

g = 10
print(g<<1)

4
20